




/*****************************************************************/
/*!                     NOTES OF THIS STYLE
    desktop:
        font    :   16px

    mobile:
        font    :   14px

    content style:
        h1          :       4em
        h2          :       2em
        p           :       1.25em
        pad-topbot  :       128px
*/
/*****************************************************************/





/*! Import Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

/*! Root Colors Variable */
:root {
    --color1: #CAF0F8;
    --color2: #0096C7;
    --color3: #0077B6;
    --color4: #023E8A;
    --color5: #03045E;
}

/*! Parent Style */
html {
    /* Smooth Scrolling */
    scroll-behavior: smooth;
    
    /* Colors */
    background-color: var(--color4);
    color: var(--color1);

    /* Fonts Parents */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}




















/*! NAVBAR CSS */
.nav {
    /* Colors */
    background-color: var(--color5);
    color: var(--color3);

    /* Layouts */
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100px;

    /* Layers */
    z-index: 1;

    /* Smooth Animations */
    transition: all 1000ms;
}


/** Left NavBar: Header and Lang Button **/
.nav-box {
    /* To group Header and Language Dropdown btn */
    display: flex;
    align-items: center;
}

.nav-header {
    /* Fonts */
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    color: inherit;
    text-decoration: none;

    /* Layouts */
    margin-left: 16px;
}


/** Lang Dropdown Button CSS **/
.nav-lang {
    /** First Box of the Dropdown */
    /* Fonts */
    letter-spacing: 1px;
    font-family: inherit;
    font-size: 1em;

    /* Layouts */
    margin-left: 12px;
}

.lang-button {  
    /** The button */
    /* Fonts */
    font-size: 1em;

    /* Layouts */
    border: none;
    background: none;

    /* Cursor */
    cursor: pointer;

    /* Smooth Animation */
    transition: color 250ms;
    color: inherit;
}

.fa-globe, .arrow-icon {
    /* Layouts unclickable */
    pointer-events: none;
}

.lang-dropdown {
    /** Last Box of the Dropdown */
    /* Layouts */
    position: relative;
    display: inline-block;
}

.list {
    /** List of the Language */
    /* Fonts */
    text-align: left;

    /* Colors */
    background-color: var(--color5);

    /* Layouts */
    width: 192px;
    left: 0px;
    display: block;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    /* To make it unclickable */
    pointer-events: none;

    /* Smooth Animation */
    transition: opacity 250ms;
    opacity: 0;

    /* Layers */
    z-index: -3;
}

.list a {
    /* Smooth Animation */
    transition: color 250ms;
    color: var(--color3);

    /* Fonts */
    text-decoration: none;
    letter-spacing: 1px;

    /* Layouts */
    display: block;
    padding: 16px 8px;
}

.list a:hover {
    /* Fonts Color of tag a list language change when hover */
    color: var(--color2);
}

.lang-button:hover {
    /* Fonts Color of button language change when hover */
    color: var(--color2);
}

.lang-button .arrow-icon {
    /** Arrow Icons inside button language */
    /* Fonts */
    font-size: .75em;

    /* Smooth Animation */
    transition: transform 500ms;
    transform: rotate(0deg);
}


/** Right NavBar: Link and Hamburger Menu **/
.nav-link ul {
    /* To set row direction of List Item */
    display: flex;
}

.link:nth-child(1) .icons {
    /** Page Indicator **/
    /* Layouts */
    border-bottom: var(--color3) solid 2px;
    padding-bottom: 1px;
}

.link a {
    /* Fonts */
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
    letter-spacing: 1px;

    /* Layouts */
    margin-right: 32px;

    /* Smooth Animations */
    transition: color 250ms;
}

.link-desc {
    /* Layouts for description of the icons*/
    position: relative;
    display: inline;

    /* To make it unclickable */
    pointer-events: none;

    /* Smooth Animations */
    animation: link-desc-animate-in 500ms ease-in 0ms 1 forwards;
}


/** HAMBURGER MENU THAT SHOW WHEN TABLET SIZE **/
.nav-menu-toggle {
    /** Box of the hamburger design **/
    /* Layouts */
    position: relative;
    height: 20px;
    margin-right: 16px;

    /* Layers */
    z-index: 3;

    /* Smooth Animation */
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu-toggle input {
    /** Checkbox Input fot the button to works **/
    /* Layouts */
    width: 40px;
    height: 28px;
    position: absolute;
    left: -6px;
    top: -4px;

    /* Make it transparent */
    opacity: 0;

    /* Change cursor */
    cursor: pointer;

    /* Layers */
    z-index: 4;
}

.nav-menu-toggle span {
    /** Design of the Hamburger **/
    /* Smooth Animation */
    transition: all 500ms;

    /* Colors */
    background: var(--color3);

    /* Layouts */
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
}


/** Link Responsive **/
.link:hover {
    /* Fonts Color Change when we hover it */
    color: var(--color2);
}

.link:hover .link-desc {
    /* Smooth Animation on the Description Icons to show up */
    animation: link-desc-animate-out 500ms 0ms 1;
}




















/*! MAIN CONTENT CSS */
.main-section {
    /** All of the content section box **/
    /* Fonts */
    font-family: inherit;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: inherit;

    /* Colors */
    color: inherit;

    /* Layouts */
    padding: 128px 0;
}

.title-section {
    /** All of the h2 title **/
    /* Fonts */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 4px;

    /* Layouts */
    padding: 4px 0;
    margin: 4px 0;
}

.desc-section {
    /* Fonts */
    font-family: inherit;
    font-weight: normal;
    letter-spacing: inherit;
    line-height: 24px;
    text-align: center;

    /* Layouts */
    width: 724px;
    padding: 4px 0;
    margin: auto;
}


/** Profile Section **/
.main-section:nth-child(1) {
    /* Layouts for the Profile Section */
    min-height: 600px;
    height: 100vh;
    padding: 32px 0;
    box-sizing: border-box;
}

.main-section:nth-child(1) .title {
    /* Fonts */
    font-size: 6em;
    letter-spacing: 8px;
}

.profile-image {
    /* Layouts */
    width: 300px;
    border: solid 3px var(--color1);
    border-radius: 50%;

    /* Image Center */
    object-fit: cover;
    object-position: center;
}

.title {
    /* Fonts */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 4px;

    /* Layouts */
    padding: 4px 0;
    margin: 4px 0;
}

.profile-desc {
    /* Fonts */
    font-family: inherit;
    font-weight: normal;
    font-size: inherit;
    letter-spacing: inherit;

    /* Colors */
    color: inherit;

    /* Layouts */
    margin: 16px 0;
}


/** GAME SECTION **/
.main-section:nth-child(2) {
    /* Colors */
    background-color: var(--color3);
}

.main-section:nth-child(2) .desc-section {
    margin: auto;
}

.game-list {
    /* Layouts */
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-section {
    /* Layouts */
    padding: 0 16px;
    margin-bottom: 288px;
}

.game-section .icons {
    /* Fonts */
    font-size: .75em;

    /* Smooth Animation */
    animation-name: icon-animate;
    animation-delay: 2500ms;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.game-image {
    /* Layouts */
    width: 600px;
    margin: 4px 0;
    border: solid 3px var(--color1);
    border-radius: 15px;

    /* Image Center */
    object-fit: cover;
    object-position: center;
}

.game-desc {
    /* Fonts */
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 20px;

    /* Layouts */
    padding: 8px 16px;
}


/** Contact Section Paragraf **/
.main-section:nth-child(3) {
    /* Layouts */
    height: 25vh;
}

.main-section:nth-child(3) .desc-section {
    /* Layouts */
    margin: auto;
}











/*! FOOTER SECTION */
.footer {
    /* Fonts */
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;

    /* Colors */
    background-color: var(--color5);
    color: var(--color3);

    /* Layouts */
    padding: 32px 0 4px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'copyright link'
        'copyright link'
        'version version';
    align-items: center;
}

.footer-section {
    /** Every section of footer **/
    /* Layouts */
    padding: 2px 32px;
    display: flex;
    flex-direction: column;
}


/** Copyright **/
.footer-copyright {
    /* Layouts */
    text-align: left;
    grid-area: copyright;
}

.desc-footer {
    /* Layouts */
    padding: 4px 0;
}

.desc-footer a {
    /* Fonts */
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;

    /* Colors */
    color: inherit;
}

.desc-footer a:hover {
    /** Links on paragraf when hover */
    text-decoration: underline;
}


/** Links **/
.footer-link {
    /* Layouts */
    text-align: right;
    grid-area: link;
}

.link {
    /* Fonts */
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    
    /* Color */
    color: inherit;

    /* Layouts */
    padding: 4px;

    /* Smooth Animation */
    transition: all 250ms;
}

.footer-link .link:hover {
    /** Links when hover move left 15px */
    transform: translateX(-15px);
}


/** Versions **/
.footer-version {
    /* Layouts */
    margin: 0 auto 16px;
    grid-area: version;

    /* Fonts */
    font-size: .75em;
}





























/*! Responsive Breakpoints */
@media screen and (max-width: 1080px) {
    /*! NavBar Responsive */
    .link a {
        /* New layouts for simetrical laptop size */
        margin-right: 8px;
    }
}



@media screen and (max-width: 824px) {
    /*! NavBar Responsive */
    .nav-link {
        /* Smooth Animation */
        transition: all 500ms;

        /* Colors */
        background: var(--color5);

        /* Layouts */
        opacity: .75;
        width: 100vw;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-1000px);

        /* Layers */
        z-index: 2;
    }
    

    /** Language Button **/
    .nav-lang {
        /* Layouts */
        position: static;
        padding-left: 0;
    }

    .list {
        /* Layouts in the middle */
        left: -48px;
        text-align: center;
    }

    
    /** Hamburger Menu Toggle **/
    .nav-menu-toggle {
        /* Layouts */
        display: flex;
    }

    
    /** Links **/
    .nav-link ul {
        /* Layouts */
        height: inherit;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-link ul li {
        /* Fonts */
        text-align: center;
    }

    .nav-link .link {
        /* Fonts */
        font-size: 2.5em;

        /* Layouts */
        padding: 0;
    }


    /** Icon Description Animation **/
    .link-desc {
        /* Layouts */
        display: block;
        position: static;

        /* Smooth Animation */
        animation: link-desc-animate 1.5s ease-out 1s alternate infinite;
    }

    .link:hover .link-desc {
        /* Smooth Animation gone when hover */
        animation: link-desc-animate reverse forwards;
    }




















    /*! MAIN CSS RESPONSIVE */
    .main-section:nth-child(1) {
        /* Layouts */
        padding: 64px 0 32px;
    }

    .main-section:nth-child(1) .title {
        /* Fonts */
        font-size: 5em;
        letter-spacing: 4px;
    }

    .profile-image {
        /* Layouts */
        margin-top: 32px;
        width: 250px;
    }

    .title {
        /* Fonts */
        font-size: 2.5em;
        letter-spacing: 2px;
    }

    .profile-desc {
        /* Fonts */
        letter-spacing: 1px;
        line-height: 18px;

        /* Layouts */
        padding: 0 4px;
    }

    .desc-section {
        /* Layouts */
        width: 496px;
    }
    
    .game-image {
        /* Layouts */
        width: 500px;
    }

    .game-desc {
        /* Fonts */
        line-height: 18px;
    }

    .title-section {
        /* Fonts */
        letter-spacing: 2px;
        font-size: 1.5em;
    
        /* Layouts */
        padding: 4px;
        margin: 4px;
    }



















    /*! FOOTER RESPONSIVE */
    .footer {
        /* Layouts */
        line-height: 18px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'link link'
            'copyright copyright'
            'version version';
    }

    .footer-section {
        /* Layouts change every section*/
        padding: 0;
    }
    
    .desc-footer:nth-child(2) {
        /* Layouts */
        margin: auto;
        width: 285px;
    }


    /** Links **/
    .footer-link {
        /* New Layouts */
        padding: 0 32px;
        margin: 0 32px;
        border-right: var(--color3) solid 3px;
    }

    .link {
        /* New Layouts */
        padding: 8px 0;
    }


    /** Copyright **/
    .footer-copyright {
        /* New Layouts */
        text-align: center;
        margin: auto;
        padding: 32px 16px;
    }
}



@media screen and (max-width: 564px) {
    /*! Change Parents Font Size */
    html {
        font-size: 14px;
    }











    /*! MAIN CSS */
    .game-section {
        /* Layouts */
        padding: 0;
    }

    .game-image {
        /* Layouts */
        width: 90vw;
    }

    .desc-section {
        /* Layouts */
        width: 372px;
    }











    /* !Footer */
    .desc-footer:nth-child(2) {
        /* Layouts */
        width: 256px;
    }
}

/*! Smartwatch Size */
@media screen and (max-height: 420px) {
    /*! Nav */
    .nav-link ul {
        /* Layouts */
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        overflow: auto;
    }

    .nav-link .link {
        font-size: 2em;
    }

    .nav-link .link .link-desc{
        display: none;
    }

    /* Vertical */
    @media screen and (max-width: 420px) {
        /*! Nav */
        .nav-link ul {
            /* Layouts */
            flex-direction: column;
            overflow: auto;
        }
    }
}