@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --color-primary: #00e6f6;
  --color-secondary: #082a3a;
  --color-fg1: #ffffff;
  --color-fg2: #1f6cab;
  --color-bg1: #031016;
  --color-bg2: #031016;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  color: #f1f1f1;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.text-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 64px;
  margin: 1.5rem 0;
}

.text-wrapper li {
  font-family: "Archivo Black", sans-serif;
  list-style: none;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}
