/*! To make it show bellow navbar that height 50px */
.main {
    padding-top: 50px;
    margin-bottom: 48px;
    text-align: center;
    min-height: 600px;
}

/*! Class For the function button language to Run */
.show-the-link {
    /** showing the list of language and clickable it */
    pointer-events:all;
    opacity: 1;
}

/*! Class for the hamburger menu to slide down */
.nav-link.slide {
    opacity: 1;
    transform: translateY(0);
}   

/*! Class for the status form submit */
.form-status.close {
    /* Layouts */
    top: 0px;
}

.status.on {
    display: block;
}


/*! CLASS FOR THE ARROW TO ANIMATE */
.arrow-icon.arrow-rotate {
    /* Change direction of arrow icons when focused */
    transform: rotate(90deg);
}