/* NAVBAR LINK ANIMATION */
@keyframes link-desc-animate-in {
    0% {
        opacity: .9;
        right: 0;
    }

    100% {
        opacity: 0;
        right: 10%;
    }
}

@keyframes link-desc-animate-out {
    0% {
        opacity: 0;
        right: 10%;
    }

    100% {
        opacity: .9;
        right: 0;
    }
}

@keyframes link-desc-animate {
    0% {
        opacity: .95;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}










/* HAMBURGER MENU ANIMATION */
.nav-menu-toggle span:nth-child(2) {
    transform-origin: 0 0 ;
}

.nav-menu-toggle span:nth-child(4) {
    transform-origin: 0 100% ;
}

.nav-menu-toggle input:checked ~ span {
    background: var(--color1);
}

.nav-menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.nav-menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.nav-menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}